asgiref==3.8.1
cffi==2.0.0
cryptography==44.0.3
Django==5.1.4
django-admin-inline-paginator==0.4.0
django-appconf==1.2.0
django-cors-headers==4.6.0
django-extensions==3.2.3
django-filter==25.1
django-image-cropping==1.7
django-js-asset==3.1.2
django-mptt==0.17.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
easy-thumbnails==2.10.1
et_xmlfile==2.0.0
MarkupSafe==3.0.3
openpyxl==3.1.5
pillow==11.0.0
pycparser==2.23
PyJWT==2.10.1
pyOpenSSL==24.3.0
sqlparse==0.5.3
Unidecode==1.4.0
Werkzeug==3.1.3
