@use "mainSCSS/color.scss"as *;

.slider-separator {
  & {
    height: 48px;
    margin-top: 8px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 992px) {
    margin-top: 12px;
  }

  .recent-bulletin-headin {
    & {
      padding-right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    @media screen and (max-width: 992px) {
      padding-right: 8px;
    }

    h2 {
      font-size: 20px;
      margin: 0;
      background: linear-gradient(to right, #0b002f, $primary-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media screen and (max-width: 992px) {
        font-size: 18px;
      }
    }
  }

  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    &:hover .marquee {
      animation-play-state: paused;
    }
  }

  .marquee {
    display: flex;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: var(--scroll-duration, 15s);
  }

  .marquee-content {
    display: flex;
  }

  .bulletin-text {
    cursor: pointer;
    white-space: nowrap;
    color: $menu-bg-color;

    &:hover {
      color: $primary-color;
    }

    // Add separator only between items
    &:not(:last-child)::after {
      content: " // ";
      padding: 0 5px;
      color: rgb(17, 172, 6); 
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}