

#subject-selector-form{
  // *.col-md-6{
  //   border: 1px solid #f7f6ff;
  // }
  // &{
  //   border: 1px solid rgb(76, 0, 255); 
  // }
  .form-fields{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
  }
  .label-and-value{
    &{
      // border: 1px solid red;
      display: flex;

    }
    .label{
      // border: 1px solid red;
    }
    .value{
      // border: 1px solid red;
    }
  }
}