
.select-mark-types-container {
  &{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 48px;
  }

  .input-box-and-label {
    // padding: 8px 12px;
    // min-width: 200px;
    // display: flex;
    // align-items: center;
    // gap: 4px;
    // user-select: none;
    // border: 1px solid #D2C5FF;
    // border-radius: 100px;
    // cursor: pointer;
    // transition: all 0.2s ease;
    // --tw-bg-opacity: 1;
    // background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
    padding: 8px 12px;
    min-width: 120px;
    display: flex;
    align-items: center;
    gap: 4px;
    user-select: none;
    border: 1px solid #D2C5FF;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.2s ease;
    --tw-bg-opacity: 1;
    background-color: rgb(250, 250, 250, var(--tw-bg-opacity, 1));
    justify-content: center;

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    &.selected {
      --tw-bg-opacity: 1;
      background-color: rgb(209, 250, 229, var(--tw-bg-opacity, 1));
      // color: white;
      border-color: #4CAF50;
    }
  }
}