@use "../../../assets/03-common-sass/essentials" as *;

$label_bg_color: #E4D3FF;
$select_form_value_border_color: #D2C5FF;

#option-component {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 200px;
  max-width: 390px;
  height: 44px;

  @media screen and (min-width: 992px) and (max-width: 1400px) {
    min-width: 250px;
  }
  @media screen and (min-width: 576px) and (max-width: 1080px) {
    min-width: 300px;
  }

  .option-label {
    background-color: $label_bg_color;
    min-width: 60px;
    height: 100%;
    padding: gs(5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    border-radius: 5px 0 0 5px;
    font-family: "SolaimanLipi", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid $select_form_value_border_color;
    border-right: 0;
  }

  .option-value {
    width: 100%;
    border-radius: 0 5px 5px 0;
    border: 1px solid $select_form_value_border_color;

    select {
      font-family: "SolaimanLipi", sans-serif;
      background-color: transparent;
      width: 100%;
      min-width: 120px;
      height: 42px;
      padding: 0 5px;
      cursor: pointer;
      outline: none;
      border: none;
    }
  }
}
