// // @use "../../../../assets/"as *;
// @use "../../../assets/03-common-sass/essentials"as *;


// $label_bg_color: #E4D3FF;
// $select_form_value_border_color: #D2C5FF;

// #option-component{
//   &{
//     // border: 1px solid red;
//     position: relative;
//     display:  flex;
//     justify-content: center;
//     align-items: center;
//     // margin: gs(10) gs(25);
//     width: 100%; 
//     min-width: 250px;
//     max-width: 524px;
//     height: 44px;
    
//   }

//   @media screen and (min-width: 576px) and (max-width: 1080px) {
//     min-width: 300px;
//   }
//   .option-label{
//     background-color: $label_bg_color;
//     min-width: 60px; 
//     height: 100%;
//     padding: gs(5);
//     // margin: gs(10);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // margin-right: gs(20);
//     margin-right: 0px;
//     border-radius: 5px;
//     border-top-right-radius: 0px;
//     border-bottom-right-radius: 0px;
//     font-family: "SolaimanLipi", sans-serif;
//     font-size: 16px;
//     font-weight: 500;

//     border: 1px solid $select_form_value_border_color;
//     border-right: 0px;
//   }

//   .option-value { 
//     width: 100%;
//     border-radius: 5px;
//     border: 1px solid $select_form_value_border_color;
//     border-top-left-radius: 0px;
//     border-bottom-left-radius: 0px;

//     select{
//       position: relative;
//       font-family: "SolaimanLipi", sans-serif;
//       font-weight: 400;
//       background-color: transparent;
//       width: 100%;
//       min-width: 120px; 
//       cursor: pointer;
//       // min-width: 150px; 
//       height: 42px;
//       // padding: gs(5); 
//       // border-radius: 5px;
  
//       // border-top-left-radius: 0px;
//       // border-bottom-left-radius: 0px;
//       // border: 1px solid $select_form_value_border_color;
//       outline: none; 
//       padding: 0px 5px;   
//     } 
//   }
  
// }

@use "../../../assets/03-common-sass/essentials" as *;

$label_bg_color: #E4D3FF;
$select_form_value_border_color: #D2C5FF;

#option-component {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 200px;
  max-width: 390px;
  height: 44px;

  @media screen and (min-width: 992px) and (max-width: 1400px) {
    min-width: 250px;
  }
  @media screen and (min-width: 576px) and (max-width: 1080px) {
    min-width: 300px;
  }

  .option-label {
    background-color: $label_bg_color;
    min-width: 60px;
    height: 100%;
    padding: gs(5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    border-radius: 5px 0 0 5px;
    font-family: "SolaimanLipi", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid $select_form_value_border_color;
    border-right: 0;
  }

  .option-value {
    width: 100%;
    border-radius: 0 5px 5px 0;
    border: 1px solid $select_form_value_border_color;

    select {
      font-family: "SolaimanLipi", sans-serif;
      background-color: transparent;
      width: 100%;
      min-width: 120px;
      height: 42px;
      padding: 0 5px;
      cursor: pointer;
      outline: none;
      border: none;
    }
  }
}
