

// ((((((((((((((((((()))))))))))))))))))
$col-lb11: #3058A6;

$container-bg: #F9F9F9;

$current-session-border-color: #D2C5FF;
$current-session-heading-color: #1E33F2;
$form-border-color: #9989FF;

$mark-entry-header-bg-color: #F1EBFF;
$mark-entry-header-color: #090086;
$roll-border-color: #9897FF;

$student-even-data-bg: #E8E5FF;
$student-odd-data-bg: #EFEFEF;

