.white-bg{
  background-color: #fff !important;
}


.hind-siliguri-light {
  font-family: "SolaimanLipi", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-siliguri-regular {
  font-family: "SolaimanLipi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-siliguri-medium {
  font-family: "SolaimanLipi", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-siliguri-semibold {
  font-family: "SolaimanLipi", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-siliguri-bold {
  font-family: "SolaimanLipi", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.noto-bangla-light {
  font-family: "Noto Sans Bengali", sans-serif;
  font-weight: 300;
  font-style: normal; 
}

.noto-bangla-regular {
  font-family: "Noto Sans Bengali", sans-serif !important;
  font-weight: 400;
  font-style: normal; 
}
.hind-siliguri-medium {
  font-family: "Noto Sans Bengali", sans-serif;
  font-weight: 500;
  font-style: normal; 
}


.noto-bangla-semiBold {
  font-family: "Noto Sans Bengali", sans-serif;
  font-weight: 600;
  font-style: normal; 
}

.noto-bangla-bold {
  font-family: "Noto Sans Bengali", sans-serif;
  font-weight: 700;
  font-style: normal; 
}

